.calculator {
    float: left;
    border: 2px solid grey;
    padding: 5px 5px 3px 3px;
    margin: 0 20px 0 50px;

}

.total span {
    padding: 5px;
    display: inline-block;
}

.selection span {
    padding-left: 15px;
}

.main {
    margin-left: 10px;
    width: 40em;
}

