.calculator {
    border: 2px solid gray;
    padding: 5px 5px 3px 3px;
    margin: 0 0 0 200px;
}

.total span {
    padding: 5px;
    display: inline-block;
}

.selection span {
    padding-left: 15px;
}

.main {
    margin-left: 10px;
    width: 40em;
}

.VIPBox {
    height:14px; 
    background:#9900FF; 
    display:block;
}

